{% extends 'base.html' %}

{% block head %}
<title>Netzplan</title>
{% endblock %}

{% block sitetitle %}
Netzplan-Download
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
		<a href="static/file/uploads/Projekt.jpg" class="btn btn-info" role="button">JPG herunterladen</a>
	</div>
    <div class="col-lg-6">
		<a href="static/file/uploads/Projekt.pdf"g class="btn btn-info" role="button">PDF herunterladen</a>
	</div>
  </div>

  <div class="row">
    <div class="col">
      <img alt="Netzplan" src="static/file/uploads/Projekt.jpg" class='card-img'/>
	</div>
  </div>
</div>
{% endblock %}
