{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% block head %}
{% endblock %}
  <style>
    .custom-file-input.selected:lang(en)::after {
      content: "" !important;
    }

    .custom-file {
      overflow: hidden;
    }

    .custom-file-input {
      white-space: nowrap;
    }
  </style>
  {% block sitetitle %}
  Excel-Datei hochladen
  {% endblock %}

  {% block body %}

<div class="container">

  <div class="row">
    <div class="col">
      <form method="POST" enctype="multipart/form-data">
	<div class="form-group">
	  <label>Datei auswählen</label>
	  <div class="custom-file">
	    <input type=file class="custom-file-input" name=file id=file >
	    <label class="custom-file-label" for=file>Datei auswählen...</label> 
	  </div>
	</div>
	<button type=submit value=Upload class="btn btn-primary">Hochladen und Netzplan generieren</button>
      </form>
    </div>
  </div>
  </br>
<footer class="card-footer">
<p>
    Erstelle für dein Projekt mit Hilfe der <a href="/static/file/downloads/Projekt.xltx">Vorlage</a>. </br>
    Die ID's sind frei wählbar. </br>
    Wenn du keine Ressourcen planst, lösche einfach die Tabelle Ressourcen.</br>
</p>
</footer>

</div>
<script>
  document.querySelector('.custom-file-input').addEventListener('change',function(e){
      var fileName = document.getElementById("file").files[0].name;
      var nextSibling = e.target.nextElementSibling
      nextSibling.innerText = fileName
  })
</script>
{% endblock %}
