{% extends 'base.html' %}

{% block head %}
<title>Netzplan</title>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Netzplan-Download</h1>

      <img alt="Netzplan" src="static/file/uploads/Projekt.jpg" class='card-img'/>
      <!-- <form method="POST" enctype="multipart/form-data"> -->
      <!-- 	<div class="form-group"> -->
      <!-- 	  <label>Datei auswählen</label> -->
      <!-- 	  <div class="custom-file"> -->
      <!-- 	    <input type=file class="custom-file-input" name=file id=file > -->
      <!-- 	    <label class="custom-file-label" for="image"></label>  -->
      <!-- 	  </div> -->
      <!-- 	</div> -->
      <!-- 	<button type=submit value=Upload class="btn btn-primary">Hochladen und Netzplan generieren</button> -->
      <!-- </form> -->
    </div>
  </div>
</div>
{% endblock %}
